# Environment variables
.env

# ML model weights
*.pt
*.pth
*.onnx

# Ignore data files but keep folder structure
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# MLflow
mlruns/
mlartifacts/

# Virtual environment
.venv/
venv/

# Python cache — never commit these
__pycache__/
*.pyc
*.pyo
*.pyd

# Pytest cache
.pytest_cache/

# VS Code
.vscode/